@font-face {
    font-family: "protest";
    src: url('/static/ProtestStrike-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    color: #9cd3b4;

    font-family: "protest", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
}

#content {
    background-color: #fbf9f3;
    break-inside: avoid;
    padding: .2cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    /* border-radius: 4mm; */
    width: 6cm;
    display: block;
    background-color: #fff;
    padding: .5cm;
    padding-bottom: 20px;
}

.map {
    border-radius: 2mm;
    width: 6cm;
    height: 6cm;
    margin-bottom: 10px;
}

p {
    margin: 0;
    padding: 0;
}

.card-line {
    display: flex;
}

.loc {
    flex-grow: 1;
}

.date {
    font-size: 11px;
    line-height: 12px;
}