<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@5.10.0/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@5.10.0/dist/maplibre-gl.js'></script>

    <link rel='stylesheet' href='/static/css/root.css' />
    <script src='/static/js/drawMap.js'></script>
</head>

<body>
    <div id="content">
        <div class="card">
            <div id="map" class="map"></div>
            <div class="card-line">
                <span class="loc">{{ page.location }}</span>
                <span class="dist">{{ page.distance }}</span>
            </div>
            <div class="card-line">
                <span class="date">{{ page.display-date }}</span>
            </div>
        </div>
    </div>
    <script>
        const geopath = '{{ page.geopath }}'
        const container = 'map'
        const bb1 = '{{ page.bb1 }}'
        const bb2 = '{{ page.bb2 }}'
        const bb3 = '{{ page.bb3 }}'
        const bb4 = '{{ page.bb4 }}'

        drawMap(geopath, container, bb1, bb2, bb3, bb4)
    </script>
</body>

</html>